@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>There is a Hot Dog Lover in all of us</h1>
    <p class="lead">Hot Dogs are a staple in all of our diets and Should be non stop eaten for Breakfast Lunch and Dinner</p>
    <p><a href="http://hotdogs.com" class="btn btn-primary btn-lg">Learn more About Hot Dogs! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Head Over to the Profile Tab to create a profile about yourself and your favorite Hot Dogs!
        </p>
        
    </div>
    
</div>